#space {
  position: relative;
}
#calendar {
  max-width: 1200px;
}
#dialog {
  position: absolute;
  top: 40%;
  left: 28%;
  height: 200px;
  width: 300px;
  margin: auto;
  padding: 30px 20px;
  display: none;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 4px #888;
  background-color: white;
  z-index: 2;
}
#dialog-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  margin-top: 40px;
}
#dialog-btn {
  display: flex;
  justify-content: space-around;
}
